@model IEnumerable<WebUI.Entity.Dietician>

<main class="main-content">

    @foreach (var item in Model)
    {
        <div class="author-bio">
            <div class="container">
                <div class="row">
                    <div class="col-md-5">
                        <figure class="profile-picture">
                            <img src="~/Assets/img/@item.Image" alt="@item.UserName">
                        </figure>
                    </div>
                    <div class="col-md-6 col-md-offset-1">
                        <h2>@item.FirstName @item.LastName</h2>
                        <ul class="fa-ul">
                            <li class="mb-3"><span class="fa-li"><i class="fas fa-user-graduate fa-lg"></i></span> <strong>Mezun Olduğu Üniversite: </strong>@item.UniversityName</li>
                            <li class="mb-3"><span class="fa-li"><i class="fas fa-map-marker-alt fa-lg"></i></span><strong>Şehir: </strong>@item.City</li>
                            <li class="mb-3"><span class="fa-li"><i class="fas fa-h-square fa-lg"></i></span> <strong>Hastane Adı: </strong>@item.HospitalName</li>
                            <li class="mb-3"><span class="fa-li"><i class="fas fa-user-md fa-lg"></i></span><strong>Deneyim: </strong>@item.Experience</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    }


    

</main> <!-- .main-content -->
